<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>
<body>
<form th:action="@{/cursos/actualizar}" th:object="${curso}" method="POST">
    <div class="form-group">
        <label>ID</label>
        <input type="hidden" name="id" th:field="*{id}" class="form-control" placeholder="ID del curso"/>
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" th:field="*{nombre}"
        class="form-control"
        placeholder="Nombre del curso"/>
    </div>
    <div class="form-group">
        <label>Instructor</label>
        <input type="text" name="instructor" th:field="*{instructor}" class="form-control" placeholder="Instructor"/>
    </div>
    <div class="box-footer">
        <button type="submit">Guardar</button>
    </div>
</form>
</body>
</html>